*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family:segoe UI;
}
/* common classes */
.section{
	padding: 100px 0;
}
.section-sm{
	padding: 50px 0;
}
/* common classes */
img{
	max-width:100%;
	
	
}
ul{
	padding:0;
	margin:0;
	list-style:none;

}
a{
	text-decoration:none;
}
:focus{
	outline:none;
}

.header,.nav-list,.product-list,.product-item,.product-page-3-about,.contact-upper,.contact-company,.contact-for-product,.contact-us-3,.contact-upper.product-5,.color,.checkout-button,.product-5-upper-bar,.shopping-card,.product-6-upperbar,.delivery,.deliver,.payments-delivery-methods,.product-6-bottom-bar{
	display:flex;
}

.bg-gray{
	background-color:#E4E4E4;
}
.container,.container-sm{
	max-width:1140px;
	width:100%;
	padding:0 15px;
	margin:0 auto;
}
.upper-bar{
	background-color:gray;
	text-align:center;
	padding:10px 0px;
}
.upper-title{
	color:white;
}

.header{

	align-items:center;
	justify-content:space-between;
	padding-left:40px;
}
.nav-list{

	list-style:none;
	
}
.nav-link{
	text-decoration:none;
	color:black;
	padding-left:30px;
}
.header-icons{
	margin:30px;
	background-color:transparent;
	border:none;
}
.nav-items{
	font-weight: 800;
}
.header-icon{
	background-color:transparent;
	border:none;
	margin: 10px;
}
.header-icon{
	margin:10px 0;
}
.logo a{
	text-decoration:none;
	color:black;
	font-size:32px;
	font-weight:700;
}
.banner{
	background-image:url("../img/background.png");
	background-size:cover;
	padding:150px 0;
}
.text{
	color:white;
	font-size:35px;
	
}
.text1{
	font-size:40px;
}
.btn{
	margin-top:15px;
	background:black;
	border-radius:50px;
	padding:29px 94px;
	display:inline-block;
}
.btn-info{
	color:white;
	text-decoration:none;
}
.product-list{

	
	margin-left:-15px;
	margin-right:-15px;
}
.product-item{

	justify-content:space-between;
	width:33.3%;
	background-color:#E4E4E4;
	margin:15px;
}
.product-content,.product-img{
	width:50%;
	
}
h4.content{
	font-weight:300;
}
.shop-now{
	color:red;
	text-decoration:underline;
}

.product-content{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	padding:25px;
}
 .about-product{
	 
	 padding:20px;
 }
 .about{
	 margin-top:30px;
	 
 }
.container-title{
	text-align:center;
	padding-bottom:10px;
	color:#707070;
	
}
.heading-1{
	color:#707070;
}
.heading-2{
	font-size:15px;
	color:#707070;
}
.card-content{
	background-color:white;
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
	width:calc(100% + 100px);
	margin-left:-100px;
	padding:20px;
		
}
.card-both-side{
	display:flex;
	align-items:center;
	
}
.card-right{
	width:50%;
	
}
.card-left{
	width:50%;
}
.card-reverse .card-content{
	padding:10px;
	margin-left:0px;
	
}
.card-reverse{
	flex-direction:row-reverse;
}
.title-2{
	display:flex;
	font-size:15px;
	margin-top:40px;
	color:#707070;
	margin-right:-10px;
	margin-left:-10px;
	margin-bottom:40px;
}
.p1{
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
	text-align:center;
	padding:15px;
	margin:10px;
}
.product{
	width:25%;
	padding:20px;
}
.products{
	display:flex;
	margin-left:-20px;
	margin-right:-20px;
}
.product-info{	
	display:flex;
	justify-content:space-between;
	align-items:flex-end;
}
.section-head{
	text-align:center;
	color:#707070;
	
}
.paragraph{
	text-align:center;
	padding:80px;
	color:#707070;
}
.subscribe-btn{
	margin-top:15px;
	background:black;
	border-radius:50px;
	padding:29px 157px;
	display:inline-block;
	
}
.img-heading{
	color:#707070;
	text-align:center;
}
.arrow{
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:100%;
	padding:20px;
}
.prv-down{
	transform:rotate(180deg) ;
}
.next-arrow{
	margin:-20px;
}
.next-down{
	margin:-20px;
}
.product{
	position:relative;
}
.sale-btn{
	position:absolute;
	background-color:#848484;
	color:white;
	right:30px;
	top:30px;
	padding:5px 15px;
}
.question-heading{
	text-align:center;
	padding:40px;
	font-size:35px;
	color:#707070;
}
.question-paragraph{
	font-size:15px;
	color:#707070;

}
.que-p{
	margin:20px 0;
}
.time-offer{
	text-align:center;
	margin:20px;
	font-weight:800;

}
.offer,.timer{
	text-align:center;
	font-weight:800;
	color:#707070 ;
}
.timer{
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:20px;
	padding:20px;
	margin:20px;
}
.hours{
	padding:0 20px;
}
.mints{
	padding:0 20px;
}

.-btn{
	margin:0 auto;
	background:black;
	border-radius:50px;
	padding:29px 157px;
	display:inline-block;	
}
.limited-offer{
	margin:0 auto;
}
.bttn{
	text-align:center;
}
.buy-btn{
	background-color:#000;
	color:#fff;
	padding:20px;
	margin:0 auto;
}
.e-mail{
	padding:29px;
	border-radius:50px;
	max-width:655px;
	width:100%;
	
	text-align:start;
	background-color:#fff;
}
.e-maiil{
	margin: 40px 0;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.footer{
	background-color:#707070;
}
.navbar{
	display:flex;
	padding-top:50px;
	padding-bottom:50px;
	width:100%;

}
.navbar-list{
		width:25%;
		font-size:15px;
		color:white;
}
.navbar-link{
	color:white;
}
.facebook{
	width:30px;

}
.navbar-item{
	line-height:1.8;
}
.footer-title{
	margin-bottom:20px;
}



/*......page second start........*/





.upper-bar{
	background-color:gray;
	text-align:center;
	padding:5px 0px;
}
.nav-link{
	text-decoration:none;
	color:black;
	padding-left:10px;
}
.upper-title{
	text-align:center;
	color:white;
	padding:5px 0;
}

.header{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-left:40px;
}
.nav-list{
	display:flex;
	list-style:none;
}
.nav-link{
	text-decoration:none;
	color:black;
	padding-left:30px;
}
.header-icons{
	margin:30px;
	
}
.logo a{
	text-decoration:none;
	color:black;
	font-size:32px;
	font-weight:700;
}
.search{
	border:none;
	background-color:transparent;
}
.user{
	margin:0 15px;
	border:none;
	background-color:transparent;
	
}
.shopping{
	border:none;
	background-color:transparent;
}
.title{
	text-align:center;
	padding:30px;
}
.upper-heaing{
	padding:20px;
}
.product-iage{
	display:flex;
	justify-content:space-between;
	text-align:center;
	margin:50px 0;
	width:100%;
	
}
.product-1{
	background-color:#E4E4E4;
	padding:30px;
}

.product-items{
	font-size:13px;
}

.text-2{
	color:black;
	margin-top:30px;
}
.top-products{
	display: flex;
}

.top-leftside{
	width: 25%;
}
.box-left{
	padding: 8px 0;
	border-bottom: 2px solid #707070;
	display: flex;
}
.box-left h3{
	font-size: 18px;
}
.box-left h3{
font-size: 16px;
font-weight: 400;
}
.products-upper-title{
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin-top: -18px;
	padding-bottom: 20px;
}
.box-right{
width: 75%;
}
.heading-h3{
margin-bottom: 20px;
}
.top-right{
	margin: 0 -65px 0 30px;

	display: flex;
	flex-wrap: wrap;
}
.f-product-img{
	height: 200px;
	width: 200px;
}
.all-items{
	width: 30%;
	margin-right: 15px;
}
.pr0duct2img{
	width: 100px;
	height: 100px;
}
.load-more a{
	color: #707070;
	font-size: 24px;
	font-weight: 300;


}
.load-more{
	text-align: center;
	margin: 35px;
	text-decoration:underline;
}
.rpsi{
	color: red;
}
.rps{
	color: red;
}
li:nth-child(8){
	border: none;
}
.product2-heading{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-left: 10px;
}
.content{
    display: flex;
    justify-content: space-between;
	align-items: flex-end;
	margin: 15px 0;
}
.produt{
	position:relative;
}
.sale-btn{
	position:absolute;
	background-color:#848484;
	color:white;
	right:30px;
	top:30px;
	padding:5px 15px;
}
/* projuct-page-2-start */
.container{
	max-width:1140px;
	width:100%;

}
.section-sm{
	padding: 0px;
}
.product-3{
	text-align: center;
	color: #707070;
}
.product-3-image{
	width: 50%;
}
.product-3-title{
	width: 25%;
	margin: 10px 0 0 10px;
}
.product-3-imags,.sec-info,.section-info{
	width: 100%;
	display: flex;
	margin-left:10px ;
}
.sec-info{	
	margin-bottom: 10px;
}
.section-info{
	margin-bottom: 10px;
}
.stars{
	display: flex;
	align-items: baseline;
}
.star{
	height: 15px;
	width: 15px;
	margin-left: 5px;
}
.stars-info{
	font-size: 16px;
	margin: 10px;
}
.sec-info-rps{
	color: red;
}
.section-inf{
	font-weight: 700;
}
.color-list{
	display: flex;
}
.color-item{
	width: 50px;
	height: 50px;
	border: 1px solid #707070;
	margin-left: 10px;
}
.colour-box{
	opacity:0;
}

.product-3-content{
display: flex;
margin: 10px 0 ;
}
.product-content-3-content{
	font-weight: 700;
}
.product-3-heading,.product-3-upper-heading{
	margin: 10px 0;
}

.product-3-aboutus{
	width: 25%;
	border: 2px solid #707070;
}
.sec-info,.info-product-3,.stock{
	margin: 10px 0 0 10px;
}
.stock{
	color:#00C20D;
}
.stock-upper{
	margin: 10px 0 0 10px;
	color: #848484;
}
.header-icons {
	display: flex;
	align-items: baseline;
	margin: 10px;
}
.product-3-product-3{
	text-align: center;
	margin: 20px 0;
	font-weight: 800;
	color: #707070;
}
.product-3--{
	margin:0 10px 5px;
}
.products-3-images{
	width: 100%;

}
.button,.check-out-button{
	background-color: black;
	display: inline-block;
	color: white;
	text-decoration: none;
	border-radius: 50px;
	padding: 20px 70px;
}
.button-btn{
	color: white;
	text-align: center;
}
.btn-button{
	margin: 0 20px;
}
.buy-button{
	color: white;
	text-align: center;
}
.buton{
	background-color: black;
	display: inline-block;
	color: white;
	text-decoration: none;
	border-radius: 50px;
	padding: 20px 75px;
	margin: 10px 0;
}
.product-3-3{
display: flex;
justify-content: center;
}
.lock{
	margin:0 10px;
}
.product-3-3-info{
color: #707070;
margin: 10px;
}
.facebook{
height: 15px;
width: 15px;
margin-left: 10px;
}
.social-media{
	display: flex;
	align-items: baseline;
	margin: 10px;
}
.media{
	display: flex;
	align-items: baseline;
	margin: 10px;
}
.section{
	padding: 20px 0;
}
.product-3-about-us{
	display: flex;
}
.product-3-about{
	margin-right: 10px;
}
.products-3-info{
text-align: center;
margin:20px;
}
.product-3-middle{
	width: 50%;
}
.i1{
	display: flex;   
	justify-content: space-around;
	align-items: flex-end;
	border-bottom: 1px solid #707070;
}
.product-middle-bar{
	margin:20px 0;
}
.product-3-middle-icons{
	margin:20px 0;
}
.products-3-about-middle-bar{
	width: 50%;
}
.comment__reviews{
	display: flex;
}
.products-3-about-middle-bar{
	border-left: 2px solid #707070;
	margin-left: 40px;
}
.box-3,.symbol,.commit{
	margin: 10px;
}

/* product-2-end */
/* .product-3-start */
.holon,.about-company,.product-page-3-about-us{
	text-align: center;
	color: #707070;
	margin:20px 0;
}
.product-page-3-about-us{
	width: 33%;
}
.why-holon,.why-holon-product-3,.why-holon-product{
	background-color:white;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.16);
	margin-left: 10px;
	padding:40px 0;
}

/*product-3-end*/
/* product-4-start */
.email,.mail,.e-mail-placeholder,.-mail-placeholder,.sub-button,.delivery,.deliver,.date-of-birth{
	border-radius:50px;
	text-align:start;
	padding:30px;
	width:100%;
	border: 1px solid #848484;
}
.email,.mail{
	max-width:325px;
}
.mail,.e-mail-placeholder{
	margin:10px 0;	
}
.e-mail-placeholder{
	max-width:650px;
}
.upper-contact,.contact{
	text-align: center;
	color: #707070;
	margin: 10px;
}
.contact{
	margin: 20px;
}
.-mail-placeholder{
	margin:10px 0;
	border-radius:30px;
	height: 150px;
}
.sub-button{
	margin: 20px 0;
	background:black;
	display:inline-block;
	color: #fff;
	text-align: center;
}
.mail ,.email{
	width: 50%;
}
.mail{
margin-right: 10px;
}
.product-4-about{
margin-top: 10px;
font-size: 12px;
}
.contact-for-product{
	margin: 30px 0;
}

.product-4-about,.contact-for-product,.contact-company{
	padding-left: 50px;
}
/* product-page-4-end */
/* product-page-5-start */
.container-sm{
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.16);
	padding: 40px;
}
.about-5th-product{
	width: 50%;
	margin-left: 10px;
}
.button-5{
	background-color: transparent;
	border: none;
}
.product-5-amount,.gets{
	font-size: 32px;
	font-weight: 900;
	text-align: right;
}
.gets,.color,.product-5-bar,.product-delivery,.product-payment{
	text-align: left;
	color: #707070;
}
.amount{
	text-decoration: line-through;
}
.amt,.amount{
	text-align: right;
	color: #C5C5C5;
}
.shopping-card{
	margin-top: 125px;
}
.shopping,.color{
	margin: 20px 0;
}
.shoping-btn{
	margin: 0 20px;
}
.product-5-bar,.product-delivery,.product-payment{
	font-weight: 800;
}
.check-out-button{
    padding: 10px 35px;
    margin: 20px 0;
}
/* product-page-5-end  */
/* ====form Start=== */

.d--flex{
	display: flex;
}

.form-list{
	flex-wrap: wrap;
}
.col--50{
	width: 50%;
}
.form-item{
	width: 50%;
	margin: 10px 0;
}
.form-input{
	padding: 15px 20px;
	border: 1px solid #707070;
	border-radius: 40px;
	width: 95%;
}
.col--100{
	width: 100%;
}
.day{
	display: inline-block;
	float: right;
}
.days{
	display: inline-block;
}
.payment-method{
margin: 0 20px;
}
/* ====form End=== */

/* product-page-7 start*/
.page-7-heading{
	text-align: center;
	color: #707070;
}
/* product-page-7 end */
/* product-page-8 start */
.product-8-upper-heading,.product-8-heading{
	text-align: center;
	color: #707070;
}

/* product-page-8 end */
/* product-page-9 start */

.card-start{
	width: auto;
}
.card-end{
	width: 100%;
	margin-left: 50px;
	font-size: 14px;
	color:#848484 ;
}
.contnt,.contnts{
	margin-top: 100px;
	width:calc(100% + 200px);
	margin-left: -200px;
}
.upper-title-card{
	color: #E9E9E9;
	font-size: 400px;
	font-weight: 800;
}
.revers{
	flex-direction: row-reverse;
	margin-left: 0;
}
.contnts{
	margin-left: 0;
}
/* product-page-9 end */
/* product-page-10 start */
.last-heading{
margin: 40px 0;
}
/* product-page-10 end */
.product-10{
	margin-left:-20px;
	margin-right:-20px;
}
.product-10-reviews{
	width: 70%;
	margin-left: 20px;
}
/* product-page-10end */